body {
    padding-bottom: 80px;
}

.myPageMargin {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .myPageMargin {
        margin-left: auto;
        margin-right: 0;
    }
}